<!DOCTYPE html>
<html>
  <head>
  </head>

<div>
     <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=40~-74&lvl=18&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
     </iframe>
     <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=40.71804505599917~-74.00026996486781&amp;sty=r&amp;lvl=18&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=40.71804505599917~-74.00026996486781&amp;sty=r&amp;lvl=18.461195052356118&amp;rtp=~pos.40.71804505599917_-74.00026996486781____&amp;FORM=MBEDLD">Get Directions</a>
    </div>
</div>
</html>